<div class="author">
  <img  class="left" src="/images/2019/05/Photo-metropolis-rounded.jpg" alt="Photo de Nicolas Verinaud" />
  <h4>Nicolas VERINAUD</h4>
  <p>
    iOS Crafter depuis 2010, maniaque de la livraison continue.<br />
    Quand je ne suis pas en train de courir dans la roue Red-Green-Refactor,
    je joue avec mon petit garçon Thomas, ou à Zelda avec ma femme Marie.<br />
    Si on est samedi matin, je suis sûrement en train de cuisiner pour la semaine (batch cooking !).
    <a href="https://www.twitter.com/nverinaud"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">nverinaud</span></a>
  </p>
</div>
