
<div id="mc_embed_signup">
  <form action="https://nverinaud.us14.list-manage.com/subscribe/post?u=3186523633c3a45b811330723&amp;id=f871b8cb85&SIGNUP={{ page.id }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

      <h3>Télécharge "La Checklist de l'Architecture Émergente"</h3>
      <p><strong>La Checklist de l'Architecture Émergente</strong> est un PDF de X pages qui te permettra de ne plus avoir peur de faire évoluer ton code Swift.</p>
      <p>(Et tu découvriras aussi une astuce étonnante que j'utilise pour rester productif après la pause déjeuner grâce aux tests automatisés !)</p>

      <div class="mc-field-group">
      	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Ton e-mail" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_3186523633c3a45b811330723_f871b8cb85" tabindex="-1" value="">
          <input type="hidden" value="2" name="group[7915][2]" id="mce-group[7915]-7915-0">
        </div>
        <input type="submit" value="Recevoir la checklist" name="subscribe" id="mc-embedded-subscribe" class="button">
        <div class="clear"></div>
      </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>
    </div>
  </form>
</div>
