---
layout: default
---
<article class="post">

  <header class="post-header">
    {% if page.image %}
      <img src="{{ page.image | relative_url }}" alt="{{ page.image }}" />
    {% endif %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p><em>{{ page.date | date: "%d/%m/%Y" }} · {{ page.content_type }} ({{ page.reading_time }} minutes)</em></p>
  </header>

  {% if page.technical_environment %}
    <div class="post-technical-environment">
      <p><strong>Versions</strong> : Swift {{ page.technical_environment.swift }}, iOS {{ page.technical_environment.ios }}, Xcode {{ page.technical_environment.xcode }}, AppCode {{ page.technical_environment.appcode }}</p>
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {%- if page.custom_call_to_action_form -%}
    {%- include {{ page.custom_call_to_action_form }} -%}
  {%- else -%}
    {%- include newsletter_signup.html -%}
  {%- endif -%}

  <p class="chapter-value">
    J'ai écrit cet article pendant <strong>{{ page.writing_time }}h</strong> et j'ai eu <strong>{{ page.ahah }} <em>"ah-ah moment"</em></strong> sous la douche ou en pleine nuit. Pour m'aider, partage-le avec un(e) ami(e) ou sur les réseaux sociaux !
  </p>

  <aside class="social-sharing">
    <div class="social-sharing-content">
      <p>Partager :</p>
      <p>
        <a class="article-actions-tweet-button" id="article-actions-tweet-button" rel="noopener" target="_blank" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title | url_encode }}&quot; par @nverinaud {{ page.url | absolute_url }} %23swcraft %23swift %23iOS %23AcademieRyfacto">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>Twitter
        </a>
      </p>
      <p>
        <a class="article-actions-linkedin-button" id="article-actions-linkedin-button" rel="noopener" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | absolute_url }}&amp;title={{ page.title | escape_once }}&amp;summary={{ page.description | escape_once }}&amp;source={{ site.social_source }}">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>LinkedIn
        </a>
      </p>
    </div>
  </aside>

  {%- include author.html -%}

  {%- include page_comments.html -%}

</article>
