---
layout: default
---
<article class="post">

  <header class="post-header">
    {% if page.image %}
      <img src="{{ page.image | relative_url }}" alt="{{ page.image }}" />
    {% endif %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p>Publié le <em>{{ page.date | date: "%d/%m/%Y" }}</em></p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {%- include newsletter_signup.html -%}

  <p class="chapter-value">
    J'ai écrit cet article pendant <strong>{{ page.writing_time }}h</strong> et j'ai eu <strong>{{ page.ahah }} <em>"ah-ah moment"</em></strong> sous la douche ou en pleine nuit. Pour m'aider, partagez-le avec un(e) ami(e) ou sur les réseaux sociaux !
  </p>

  <aside class="social-sharing">
    <div class="social-sharing-content">
      <p>Partager :</p>
      <p>
        <a class="article-actions-tweet-button" id="article-actions-tweet-button" rel="noopener" target="_blank" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title | url_encode }}&quot; par @{{ site.twitter_username | escape }} %23AcademieRyfacto {{ site.url }}{{ page.url }}">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>Twitter
        </a>
      </p>
      <p>
        <a class="article-actions-linkedin-button" id="article-actions-linkedin-button" rel="noopener" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{ page.title | escape_once }}&amp;summary={{ page.description | escape_once }}&amp;source={{ site.social_source }}">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>LinkedIn
        </a>
      </p>
    </div>
  </aside>

  {%- include author.html -%}

  {%- include page_comments.html -%}

</article>
